@import "./assets/scss/variables.scss";

.BrainhubCarousel__arrows {
  background-color: rgba(0, 0, 0, 0) !important;

  @media screen and (max-width: 480px) {
    // padding: 12px;
  }
}

.BrainhubCarousel__container {
  position: relative;
  z-index: 6;
}

.BrainhubCarousel__arrows span {
  border-color: $color-red !important;
  width: 15px;
  height: 15px;
}

.BrainhubCarouselItem {
  border-radius: 25px;
  // width: 90%;
  // opacity: 0;
  // transition: all 100ms linear;
  &--active {
    // box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.15);
  }
}

.modal-content {
  overflow-y: auto;
  overflow: auto;
}

.modal-dialog-scrollable .modal-content {
  overflow: auto;
}

.priceConfigModal {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // right: auto;
  // bottom: auto;
  // margin-right: -50%;
  // transform: translate(-50%, -50%);
  text-align: center;
  color: $color-blue;
  font-size: 2rem;
  margin: 0 0;
  &:focus {
    outline: none !important;
  }
  // .modal-dialog {
  //   max-width: none;
  // }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 6;
    overflow: auto;
  }
}

.careerModal {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // right: auto;
  // bottom: auto;
  // margin-right: -50%;
  // transform: translate(-50%, -42%);
  text-align: center;
  color: #a0a0a0;
  font-family: Gilroy Light;
  background-color: #fff;
  font-size: 1.1rem;
  width: 90%;
  max-width: 1000px;
  border-radius: 75px;
  max-height: 80vh;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &:focus {
    outline: none !important;
  }
  @media screen and (max-width: 596px) {
    width: 95%;
  }
  .modalRowcareer {
    width: 100%;
    padding: 3rem 4rem;
    @media screen and (max-width: 596px) {
      padding: 3rem 3rem;
    }
  }
  .careerIcon {
    width: 200px;
  }
  .smoltxt {
    font-size: 2rem;
    @media all and (max-width: 996px) {
      font-size: 2.5rem;
    }
    @media all and (max-width: 596px) {
      font-size: 2rem;
    }
  }
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .headerImg {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
  }
  .displayCop {
    background: rgb(74, 228, 216);
    background: linear-gradient(
      90deg,
      rgba(74, 228, 216, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    @media screen and (max-width: 1266px) {
      display: none;
    }
  }
  .segmentModalClose {
    position: absolute;
    top: 48px;
    right: 48px;
    width: 32px;
    color: $color-red;
  }
  .panel1 {
    font-size: 1.5rem;
    // padding: 0.5rem 1rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
    p {
      // margin: 0.45rem 0;
    }
    @media screen and (max-width: 991px) {
      // text-align: center;
      // margin-top: 1rem;
    }
    @media screen and (max-width: 596px) {
      // width: fit-content;
      // margin: 0 auto;
      // margin-top: 2rem;
    }
  }
  .panel2 {
    font-size: 1.5rem;
    // padding: 0.45rem 1rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
    p {
      // margin: 0.45rem 0;
    }
    @media screen and (max-width: 991px) {
      text-align: center;
      // margin-top: 1.5rem;
    }
    @media screen and (max-width: 596px) {
      // width: fit-content;
      // margin: 0 auto;
      // margin-top: 1rem;
    }
  }
  .panel3 {
    font-size: 1.3rem;
    font-family: Gilroy Light;
    // padding: 0.45rem 1rem;
    // line-height: 1.2em;
    p {
      // margin: 0.5rem 0;
    }
    // margin-top: 1rem;
    @media screen and (min-width: 991px) {
      // margin-top: -4rem;
      // margin-left: auto;
    }
    @media screen and (max-width: 596px) {
      // margin-top: 1.5rem;
      // margin-bottom: 1rem;
    }
  }
  .title {
    color: $color-blue;
    font-size: 2.7rem;
    font-family: Gilroy;
    text-align: left;
    line-height: 1em;
    margin-top: 1rem;
    letter-spacing: 0.1em;
    @media screen and (max-width: 991px) {
      text-align: center;
    }
  }
  .subtitle {
    color: $color-blue;
    font-size: 1.5rem;
    font-family: Gilroy;
    text-align: left;
    margin-top: 10px;
    line-height: 1.2em;
  }
  .content {
    margin-top: 20px;
    text-align: justify;
    line-height: 1.2em;
  }
}

.blogModal {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // right: auto;
  // bottom: auto;
  // margin-top: 100px;
  // transform: translate(-50%, -42%);
  text-align: center;
  color: #a0a0a0;
  font-family: Gilroy Light;
  background-color: #fff;
  font-size: 1.1rem;
  // width: 90%;
  max-width: 1300px;
  border-radius: 75px;
  // max-height: 75vh;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &:focus {
    outline: none !important;
  }
  @media screen and (max-width: 596px) {
    width: 95%;
    margin-top: 6rem;
  }
  .modalRowcareer {
    width: 100%;
    padding: 3rem 4rem;
    @media screen and (max-width: 596px) {
      padding: 3rem 3rem;
    }
  }
  // .noFuckingPadding {
  //   padding: 0 !important;
  // }
  .careerIcon {
    width: 200px;
  }
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .headerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%) contrast(70%);
  }
  .headerImgWrapper {
    width: 100%;
    height: 270px;
    position: relative;

    @media screen and (max-height: 960px) {
      height: 180px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 101%;
      z-index: 5;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 1) 100%
      );
      pointer-events: none;
      touch-action: none;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
      background: rgba(74, 228, 216, 0.8);
      mix-blend-mode: overlay;
      pointer-events: none;
      touch-action: none;
    }
  }
  .headerImgWrapperOrange {
    width: 100%;
    height: 270px;
    position: relative;

    @media screen and (max-height: 960px) {
      height: 180px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 101%;
      z-index: 5;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 1) 100%
      );
      pointer-events: none;
      touch-action: none;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
      background: rgba(255, 100, 39, 0.8);
      mix-blend-mode: overlay;
      pointer-events: none;
      touch-action: none;
    }
  }
  .displayCop {
    background: rgb(74, 228, 216);
    background: linear-gradient(
      90deg,
      rgba(74, 228, 216, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    @media screen and (max-width: 1266px) {
      display: none;
    }
  }
  .segmentModalClose {
    position: absolute;
    top: 48px;
    right: 48px;
    width: 32px;

    filter: brightness(0) invert(1) drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));

    // @media screen and (max-width: 666px) {
    //   display: none;
    // }
  }
  .panel1 {
    font-size: 1.7rem;
    padding: 2.5rem 6rem;
    // line-height: 1.2em;
    p {
      margin: 0.8rem 0;
    }
    h4 {
      font-size: 2rem;
      font-family: Gilroy;
      margin-top: 1.2rem;
      margin-bottom: 0.3rem;
    }
    @media screen and (max-width: 960px) {
      width: fit-content;
      margin: 0 auto;
      padding: 2rem 3rem;
      font-size: 1.5rem;
      h4 {
        font-size: 1.8rem;
      }
    }
    @media screen and (max-width: 596px) {
      width: fit-content;
      margin: 0 auto;
      padding: 2rem;
      font-size: 1.2rem;
      h4 {
        font-size: 1.5rem;
      }
    }
  }
  .panel2 {
    font-size: 1.7rem;
    // padding: 0.45rem 1rem;
    // line-height: 1.2em;
    p {
      // margin: 0.5rem 0;
    }
    @media screen and (max-width: 596px) {
      // width: fit-content;
      // margin: 0 auto;
    }
  }
  .title {
    color: $color-red;
    font-size: 2.7rem;
    font-family: Gilroy;
    text-align: left;
    line-height: 1em;
    // margin-top: 1.5rem;
    margin-left: 6rem;
    padding-right: 2rem;
    letter-spacing: 0.1em;
    @media screen and (max-width: 960px) {
      margin-left: 3rem;
      padding-right: 2rem;
      font-size: 2.5rem;
    }
    @media screen and (max-width: 596px) {
      margin-left: 2rem;
      font-size: 2rem;
    }
  }
  .content {
    margin-top: 20px;
    text-align: justify;
    line-height: 1.2em;
  }
}

.blogModalBlue {
  .title {
    color: $color-blue;
  }
}

.justifyText {
  text-align: justify;
}

.leftText {
  text-align: left;
}

.segmentModal {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // right: auto;
  // bottom: auto;
  // margin-right: -50%;
  transform: translate(-50%, -42%);
  text-align: center;
  color: #a0a0a0;
  font-family: Gilroy Light;
  background-color: #fff;
  font-size: 1.1rem;
  width: 90%;
  max-width: 1400px;
  border-radius: 75px;
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 10%;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &:focus {
    outline: none !important;
  }
  @media screen and (max-width: 596px) {
    width: 95%;
  }
  .modalRow {
    width: 100%;
    &-inner {
      display: flex;
    }
  }
  .modalRowcareer {
    width: 100%;
    padding: 3rem 4rem;
  }
  .centerIcon {
    filter: saturate(0) brightness(2000);
    position: absolute;
    top: 50%;
    transform: translate(-30%, -50%);
    width: 12rem;
  }
  .careerIcon {
    width: 200px;
  }
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .displayCop {
    background: rgb(74, 228, 216);
    background: linear-gradient(
      90deg,
      rgb(74, 228, 216) 0%,
      rgba(200, 246, 243, 1) 70%,
      rgba(255, 255, 255, 1) 100%
    );
    flex-basis: 15%;
    max-width: 15%;
    @media screen and (max-width: 1266px) {
      display: none;
    }
  }
  .contentCop {
    padding: 3rem;
    z-index: 4;
    @media screen and (max-width: 596px) {
      padding: 2rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .segmentModalClose {
    z-index: 10;
    position: absolute;
    top: 35px;
    right: 35px;
    width: 30px;
    color: $color-red;
  }
  .par2 {
    @media screen and (min-width: 666px) {
      // padding-left: 2rem;
    }
  }
  .title {
    color: $color-red;
    font-size: 2.5rem;
    font-family: Gilroy;
    text-align: left;
    line-height: 1em;
    @media screen and (max-width: 666px) {
      margin-top: 3rem;
    }
  }
  .subtitle {
    color: $color-blue;
    font-size: 1.5rem;
    font-family: Gilroy;
    text-align: left;
    margin-top: 10px;
    line-height: 1.2em;
  }
  .content {
    margin-top: 20px;
    text-align: justify;
    line-height: 1.2em;
    &-inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

.segmentModalOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 6;
}

.checkboxHack2 {
  position: absolute;
  visibility: hidden;
}
.checkboxHack2 ~ label {
  color: $color-blue;
  background-color: #fff;
  // padding: 2rem 2rem;
  font-size: 1.2rem;
  // margin: 15px 10px;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  // width: 100%;
  text-align: center;

  transition: color $button-fade-time ease-in-out,
    background-color $button-fade-time ease-in-out;

  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;

  -webkit-box-shadow: 0 3px 20px -8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 20px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 20px -8px rgba(0, 0, 0, 0.3);

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; // FUUUUCK ME

  cursor: pointer;
  @media screen and (max-width: 596px) {
    font-size: 1.3rem;
  }
}
.checkboxHack2:checked ~ label {
  color: #fff;
  background-color: $color-blue;
}

@media all and (max-width: 396px) {
  #chat-widget-container {
    right: 10px !important;
    bottom: 10px !important;
  }
}
.mailLink {
  color: #fff !important;
}

.modalOverflowing {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mailIcon {
  width: 40px;
  height: auto;
  margin-right: 1rem;
  margin-top: -3px;
  vertical-align: center;
}

.block1 {
  position: absolute;
  top: 15%;
  width: 80%;
  // max-width: 1000px;
  // height: 105vh;
  margin: auto;
  right: 0;
  min-height: 105vh;
  background-color: #48efe7;
  z-index: 1;
  border-radius: 50px;
  left: 0;

  // @media all and (max-width: 1366px) {
  //   max-width: 600px;
  //   left: calc((100vw - min(95vw, 600px)) / 2);
  // }

  @media all and (max-width: 500px) {
    top: 5%;
    width: 100%;
  }

  @media all and (max-width: 768px) {
    top: 0%;
    width: 100%;
  }

  // @media all and (max-width: 1024px) {
  //   max-width: 700px;
  //   left: calc((100vw - min(95vw, 700px)) / 2);
  // }

  // @media all and (max-width: 996px) {
  //   height: 95vh;
  //   width: 85vw;
  //   left: calc((100vw - 85vw) / 2);
  // }

  @media screen and (max-width: 480px) {
    top: 20.5%;
    min-height: 93vh;
  }
}

.block2 {
  position: absolute;
  left: -5%;
  top: 0;
  width: 10vw;
  height: 70vh;
  min-height: 634px;
  background-color: #48efe7;
  z-index: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 1;

  @media all and (max-width: 1366px) {
    max-width: 5vw;
  }

  @media all and (max-width: 1024px) {
    display: none;
  }
}

.block3 {
  position: absolute;
  right: -5%;
  top: 470px;
  width: 10vw;
  max-width: 1100px;
  height: 75vh;
  min-height: 634px;
  background-color: #48efe7;
  z-index: 1;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  @media all and (max-width: 1366px) {
    max-width: 5vw;
  }

  @media all and (max-width: 1024px) {
    display: none;
  }
}
