@import "../../assets/scss/variables.scss";

.particles-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh);
  // min-height: 820px;
  background-color: $color-blue;
  padding-top: 3rem;
  @media all and (min-height: 768px) and (max-width: 1024px) {
    // max-height: 1000px;
    height: calc(100vh);
    @media all and (max-height: 768px) {
      // max-height: 820px;
      height: calc(100vh);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.particles-canvas {
  width: 100%;
  height: calc(100vh);
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  @media all and (min-height: 768px) and (max-width: 1024px) {
    max-height: 1000px;
    height: calc(100vh);
    @media all and (max-height: 768px) {
      max-height: 820px;
      height: calc(100vh);
    }
  }
}

.particle-panel {
  &-center {
    position: relative;
    z-index: 2;
    width: 100%;

    @media screen and (max-width: 320px) {
      margin-top: 10rem;
    }
  }
  .container {
    z-index: 5;
    position: relative;
  }
  .header-text {
    width: 100%;
    // max-width: 1280px;
    // margin: 0 auto;
    
    color: white;
    font-family: Gilroy;
    font-size: 7.2rem;
    letter-spacing: 0.2rem;
    line-height: 7.6rem;
    
    @media all and (max-width: 1366px) {
      font-size: 6rem;
      // max-width: 800px;
    }
    @media all and (max-height: 768px) {
      font-size: 5rem;
    }
    @media all and (max-width: 966px) {
      font-size: 3.5rem;
      //  max-width: 500px;
      width: 70%;
      line-height: 4rem;
    }
    @media all and (max-width: 597px) {
      margin-top: 2rem;
      font-size: 4rem;
      line-height: 4rem;
    }
    @media all and (max-width: 480px) {
      font-size: 4.5rem;
      letter-spacing: 0;
      width: 100%;
      line-height: 4.5rem;
      margin-top: 0;
    }

    @media all and (max-width: 320px) {
    }
  }

  .subheader-text {
    width: 100%;
    // max-width: 1280px;
    // padding-right: 700px;
    margin: 5rem 0;

    color: white;
    font-family: Gilroy Light;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    line-height: 1.2em;

    @media all and (max-width: 1366px) {
      // width: 700px;
      // padding-right: 250px;
    }
    @media all and (max-height: 768px) {
      font-size: 2.5rem;
    }
    @media all and (max-width: 966px) {
      font-size: 2rem;
      width: 65%;
      // padding-right: 120px;
    }
    @media all and (max-width: 597px) {
      font-size: 1.5rem;
      width: 60%;
      padding-right: 0;
    }
    @media all and (max-height: 666px) {
      // margin: 20px auto 0 auto;
    }
    @media all and (max-width: 480px) {
      margin: 1rem 0 3rem 0;
      width: 80%;
      font-size: 1.8rem;
    }
  }
}

.contact-us-btn {
  letter-spacing: 0.2rem;
  padding: 0.75rem 1.75rem;
  border-radius: 20px;
  border: 5px solid #fff;
  color: #fff;
  position: relative;
  z-index: 5;

  background-color: rgba(0, 0, 0, 0);
  transition: color $button-fade-time ease-in-out,
  background-color $button-fade-time ease-in-out;

  @media all and (max-width: 480px) {
    letter-spacing: 0.15rem;
      // padding: 0.5rem 1.5rem;
    }
}

.contact-us-btn:hover {
  color: $color-blue;
  background-color: #fff;
}

.contact-us-btn-wrapper {
  font-size: 2.5rem;

  // margin: 2rem auto 0 auto;
  width: 100%;
  max-width: 1280px;
  padding-right: 700px;
  @media all and (max-width: 1366px) {
    // max-width: 800px;
    padding-right: 250px;
  }
  @media all and (max-width: 966px) {
    font-size: 2rem;
    // max-width: 500px;
    padding-right: 120px;
  }
  @media all and (max-width: 596px) {
    font-size: 1.5rem;
    // width: 300px;
    padding-right: 0;
  }
  @media all and (max-height: 666px) {
    // margin: 20px auto 0 auto;
  }
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
